JSON_FILE_PATH: "/Users/satyapraneelholla/www/GO/filecheck/da.json"

MAIL:
  MAIL_HOST: "smtp.gmail.com"
  MAIL_PORT: "587"
  MAIL_USER: "test@gmail.com"
  MAIL_PASSWORD: "xyz"
  MAIL_FROM: "satyapraneel@gmail.com"

SLACK:
  SLACK_TOKEN: "uuzxucyzx"
  SLACK_CHANNEL: "go-fetch"
